<div class="container-fluid">
  <!--{{selectedItem}}-->
  <div class="row">
    <div class="col-md-3">
      <div class="input-group smart-drop-down">
        <button class="form-control" (click)="toggleDropDown()">{{selectedItem.stateName}}</button>
        <span class="btn input-group-addon" (click)="toggleDropDown()">
          <i class="caret"></i>
        </span>
      </div>
      <span [hidden]="showDropDown" style="text-align: center;padding-top: 10px"> 
        <input class="form-control" #input placeholder="Search..." id="search" (keydown)="createItem(input.value)"/>
          <br/>
          <span *ngIf="addFresh"> 
            <span [hidden]="addItem" class="btn btn-default" (click)="addAndSelect(input.value)">
              {{input.value}} &nbsp;&nbsp;Add &amp; Select</span>
      </span>
      <div class="item" *ngFor="let item of data | search: input.value" (click)="clicked(item)">
        {{item.stateName}}
      </div>
      </span>
    </div>
  </div>
</div>